@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    margin-left: 24px;
    font-size: large; 
    color: lightgray;   
}

p {
    margin: 0;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 18px 210px;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-size: large;
    color: white;
}

.button-one {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 33px;
    margin-top: 10px;
}

.button-two {
    background-color: #3882f6;
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 33px;
}

.logo-text {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 120px 210px;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 1100px;
    background-color: gray;
    margin-left: 50px;
}

.placeholder {
    color: white;
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0 210px;
}

.info-text {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.card {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 120px;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-placeholder {
    height: 160px;
    width: 160px;
    border: solid blue;
    border-width: 4px;
    border-radius: 14px;
}

.text {
    width: 160px;
    text-align: center;    
    font-size: 17px;
    margin-top: 8px;
    color: #6e6e6e;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 120px 350px;
}

.quote-body {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.thor {
    font-weight: bold;
    font-size: x-large;
    align-self: flex-end;
}

.sign-up {
    margin: 100px 210px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    background-color: #3882f6;
    border-radius: 10px;
}

.content-title {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.content-sec {
    font-size: large;
    color: lightgray;
}